<% unless admin? %>
<table class="table svctable">
<% @services.all.in_groups_of(4) do |group| %>
    <tr>
        <% group.each do |svc| %>
            <td width="25%">
                <% if svc %>
                    <%= link_to svc.name, (@external && !svc.external ? '#' : svc.url), :class => svc.button_class, :title => svc.title %>
                <% end %>
            </td>
        <% end %>
    </tr>
<% end %>
</table>
<% end %>


<% @top_services.sort{|a,b| [b.status, a.name] <=> [a.status, b.name]}.each do |s| %>
    <%= render :partial => 'services/svc', :locals => {:service => s} %>
<% end %>

<br/>
<% if !params[:tech] %>
    <div style="text-align: center"><%= link_to "- Display Technical Services -", root_path(:tech => true) %></div>
<% else %>
    <div style="text-align: center"><%= link_to "- Stop Showing Technical Services -", root_path() %></div>
<% end %>
